* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  -moz-box-sizing: border-box; }


body {
    width: 100%;
    font-family: sans-serif;
    color: #793b3b;
    font-size: 1rem;
    background: #e8e6e6;
}

@media (min-width: 1440px) {
    html {
        zoom: 1;
    }
}

@media (min-width: 2560px) {
    html {
        zoom: 1;
    }
}

@media (min-width: 3860px) {
    html {
        zoom: 1;
    }
}

@media (min-width: 3860px) {
    html {
        zoom: 1;
    }
}

.iti__hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 250px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }


#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    background: #111827;
}

#interface {
    /*width: calc(100% - 350px);*/
    position: absolute;
    /*top: 0;*/
    left: 300px;
    right: 0;
}

.navigation {
    z-index: 2;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #f1e6e6;
    padding: 15px 30px;
    border-bottom: 5px solid #0f0c3a;
}

#interface .navigation .profile
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu .logo {
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 160px;
    height: 110px;
    margin-right: 15px;
    margin-left: 30px;
    border-radius: 10px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items ol li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items ol li:hover{
    background: #253047;
    cursor: pointer;
}

#menu .items ol li:nth-child(1){
    border-left: 4px solid #fff;
}

#menu .items ol li i {
    color: rgb(red, green, blue);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items ol li:hover i,
#menu .items ol li:hover a{
    color: #F3F4F6;
}

#menu .items ol li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}