@model Logement.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Mot de passe oublié";
}

<style>
    .body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<section class="body">
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <h2>Confirmation du mot de passe oublié</h2>
                    <p>Nous avons envoyé un e-mail à votre adresse e-mail avec des instructions sur la façon de réinitialiser votre mot de passe.</p>
                    <p>Veuillez vérifier votre e-mail et suivre le lien fourni pour réinitialiser votre mot de passe.</p>
                </div>
            }
            else
            {
                <h3 style="font-size: 30px;">Mot de passe oublié?</h3>
                <p>Entrez simplement votre adresse e-mail ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" style="margin-top:10px;" class="btn btn-primary">Continuer</button>
                </form>
            }
            <div style="margin-top: 15px;">
                <a asp-action="Login">Se connecter</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}