@model Logement.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Réinitialiser le mot de passe";
}

<style>
    .body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<section class="body">
    <div class="row">
        <div class="col-md-4">
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Votre mot de passe a été mis à jour avec succès.</p>
                </div>
            }
            else
            {
                <h3 style="font-size: 25px; margin-bottom:10px;">Réinitialiser le mot de passe</h3>
                <form asp-action="ResetPassword" style="max-width: 80%;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="margin-top:12px;">
                        <input type="submit" value="Réinitialiser" class="btn btn-primary" />
                    </div>
                </form>
            }
            <div style="margin-top: 15px;">
                <a asp-action="Login">Se connecter</a>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
