@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center main-heading">
    <p>Cette page va contenir tous les appartements ainsi que les informations leur concernant </p>
</div>