<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page will be the home page accessible to all.</p>

    <p>A faire: afficher le nom de la personne qui a login et faire en sorte qu'il/elle puisse cliquer dessus et voir une liste de choix
        a selectionner(mon profil, le status de mon loyer ...)'.
        
    Faire pareil pour le bailleur mais avec plus de choix(Mes locataires, Historique de payment, Personnes ayants creer un compte, 
    liste des apartments ...)</p>
</div>
