@model Logement.ViewModels.CityViewModel

@{
    ViewData["Title"] = "AddCity";
}


<style>
    .form-group {
        margin-bottom: 1rem;
    }
</style>

<h3>Add a new city</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatedAt" class="control-label"></label>
                <input asp-for="LocatedAt" class="form-control" />
                <span asp-validation-for="LocatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumbersOfApartment" class="control-label"></label>
                <input asp-for="NumbersOfApartment" class="form-control" />
                <span asp-validation-for="NumbersOfApartment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityImage" class="control-label"></label>
                <input asp-for="CityImage" class="form-control-file" accept="file/*" required />
                <span asp-validation-for="CityImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfParkingSpaces" class="control-label"></label>
                <input asp-for="NumberOfParkingSpaces" class="form-control" />
                <span asp-validation-for="NumberOfParkingSpaces" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
