@model Logement.ViewModels.CityViewModel

@{
    ViewData["Title"] = "AddCity";
}


<style>
    .form-group {
        margin-bottom: 1rem;
    }

    #body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<hr />
<div class="row" id="body">
    <h3>Add a new city</h3>
    <div class="col-md-4">
        <form asp-action="AddCity" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" onchange="CheckCityName()" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatedAt" class="control-label"></label>
                <input asp-for="LocatedAt" class="form-control" />
                <span asp-validation-for="LocatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumbersOfApartment" class="control-label"></label>
                <input asp-for="NumbersOfApartment" class="form-control" />
                <span asp-validation-for="NumbersOfApartment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div>
                <h2 class="box-title" style="color: #333; font-weight: bold;">Select city image</h2>
                <input asp-for="Image" id="image-input" type="file" onchange="checkImageExistence(event)" />
                <div id="errorMessage" class="alert alert-danger d-none" role="alert" style="color: red; margin-top: 10px;"></div>
            </div>

            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>
<script>
    //Check for a duplicate city name
    function CheckCityName() {
        $.post("@Url.Action("CheckCityNameAvailability", "City")",
            {
                cityName: $("#Name").val()
            },

            function (data) {
                if (data == 1) {
                    $("#Name").next(".validation").remove(); // remove previous message
                    $("#Name").after("<div class='validation' style='color:red;'>Ce nom appartient déjà à une autre citeé, veuillez en choisir un autre.</div>");

                    //disable save button:
                    $(':input[type="submit"]').prop('disabled', true);

                    $('#Name').focus();
                }
                else if (data == 0) {
                    $(':input[type="submit"]').prop('disabled', false);
                    $("#Name").next(".validation").remove(); // remove previous message
                }
            });
    }
</script>
