@using Logement.Data;
@using Logement.Data.Enum;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

@{
    long? userId = null;
    var userName = User.Identity.Name;
    if (!string.IsNullOrEmpty(userName))
    {
        userId = long.Parse(UserManager.GetUserId(User));
    }
    var userRoles = DbContext.CityMembers
        .Where(cm => cm.UserId == userId)
        .Select(cm => cm.Role)
        .Distinct()
        .ToList();
}
<style>
    /* Dropdown Button */
    .dropbtn {
        background: linear-gradient(90deg,#d2ff00,#d2ff00);
        color: black;
        border: none;
        text-align: center;
        letter-spacing: .5px;
        border-radius: 4px;
        transition: background-color .2s ease-in-out;
        margin-right: 15px;
        cursor: pointer;
        padding: 7px 20px;
        height: 36px;
        width: fit-content;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        right: 60px;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
    }

        /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

            /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

    .header_infos {
        /* default styles for header background */
        /*background-color: transparent;*/
        backdrop-filter: blur(8px) opacity(80%);
        transition: background-color 1s ease-in-out;
        height: 85px;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        font-family: Averta,Helvetica Neue,Helvetica,Arial,sans-serif;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background: linear-gradient(7deg, rgb(181 159 159) 51%, rgb(74 120 184) 94%, rgb(115 109 109) 100%);
    }

    .header_infos.scrolled {
        /* styles for header background when scrolled */
       background: linear-gradient(110deg, rgba(38,29,29,1) 99%, rgb(26 15 15) 100%);
       backdrop-filter: blur(8px) opacity(90%);
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dje Residence</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/intlTelInput.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/Logement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>   
    <section id="menu">
        <div class="logo">
            <img src="~/img/ADR_DJE.png" alt="">
        </div>
        <div class="items">
            <ol>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/Index">Dashboard</a></li>
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    var currentUser = await UserManager.GetUserAsync(User);
                    var currentUserRole = await UserManager.GetRolesAsync(currentUser);

                    if (userRoles.Contains(CityMemberRoleEnum.Landord))
                    {
                        <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="/City/Index">My Cities</a></li>
                    }
                    else if (userRoles.Contains(CityMemberRoleEnum.Landord) && userRoles.Contains(CityMemberRoleEnum.Tenant))
                    {
                        <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/Index">Dashboard</a></li>
                        <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="/City/Index">My Cities</a></li>
                        <li><i class="fa fa-renren" aria-hidden="true"></i><a href="/Tenant/TenantRentStatus?tenantId=@userId">Rent Status</a></li>
                        <li><i class="fa fa-money" aria-hidden="true"></i><a href="/Tenant/GetAllPaymentsHistory?tenantId=@userId">Payments history</a></li>
                    }
                    else if (userRoles.Contains(CityMemberRoleEnum.Tenant))
                    {
                        <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="/City/Index">My Cities</a></li>@*
                        <li><i class="fa fa-renren" aria-hidden="true"></i><a href="/Tenant/TenantRentStatus?tenantId=@userId">Rent Status</a></li>
                        <li><i class="fa fa-money" aria-hidden="true"></i><a href="/Tenant/GetAllPaymentsHistory?tenantId=@userId">Payments history</a></li>
                        <li><i class="fa fa-cart-plus" aria-hidden="true"></i><a href="/City/Index">Add City</a></li>*@
                    }
                    else if (currentUserRole.Contains("SystemAdmin"))
                    {
                        <li><i class="fa fa-cart-shopping" aria-hidden="true"></i><a href="/Subscription/Index">Subscriptions</a></li>
                    }
                    else
                    {
                        <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="/City/Index">My Cities</a></li>
                    }
                    <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="/Account/Logout">Log Out</a></li>
                }
            </ol>
        </div>
    </section>
    <section id="interface">
        <div class="navigation">          
            <div class="profile">
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <Button class="dropbtn">@User.Identity.Name</Button>                   
                }
                else if (string.IsNullOrEmpty(User.Identity.Name))
                {
                    <strong><a class="nav-link text-dark" asp-area="" style="color:white" asp-controller="Account" asp-action="Login">Login</a></strong>
                }
            </div> 
        </div>     
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted" style="position:fixed; background:#110b20">
            <div class="container">
                &copy; 2023 - Dje Residence - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </section>      
       
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

