@model Logement.ViewModels.TenantRentApartmentViewModel

@{
    ViewData["Title"] = "AddAsTenant";
}


<style >
    .form-group {
        margin-bottom: 1rem;
    }
</style>

<h3>Add as tenant</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAsTenant" enctype="multipart/form-data">
            <input type="hidden" asp-for="ApartmentId" />
            <input type="hidden" asp-for="TenantId" />
            <input type="hidden" asp-for="TenantEmail" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="AmountPaidByTenant" class="control-label"></label>
                <input asp-for="AmountPaidByTenant" class="form-control" />
                <span asp-validation-for="AmountPaidByTenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOfContract" class="control-label"></label>
                <input asp-for="StartOfContract" class="form-control"/>
                <span asp-validation-for="StartOfContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfContract" class="control-label"></label>
                <input asp-for="EndOfContract" class="form-control"/>
                <span asp-validation-for="EndOfContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractFile" class="control-label"></label>
                <input asp-for="ContractFile" class="form-control-file" accept="file/*" required />
                <span asp-validation-for="ContractFile" class="text-danger"></span>
            </div>

            <h2>Assign an apartment to this tenant<b><i>(Not faculatatif)</i></b></h2>

            <div class="form-group">
                <label asp-for="TenantApartment.ApartmentNunber" class="control-label"></label>
                <input asp-for="TenantApartment.ApartmentNunber" class="form-control" />
                <span asp-validation-for="TenantApartment.ApartmentNunber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TenantApartment.Description" class="control-label"></label>
                <textarea asp-for="TenantApartment.Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="TenantApartment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.ImageFile" class="control-label"></label>
                <input asp-for="TenantApartment.ImageFile" class="form-control-file" accept="file/*" required />
                <span asp-validation-for="TenantApartment.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.NumberOfRooms" class="control-label"></label>
                <input asp-for="TenantApartment.NumberOfRooms" class="form-control" />
                <span asp-validation-for="TenantApartment.NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.NumberOfbathRooms" class="control-label"></label>
                <input asp-for="TenantApartment.NumberOfbathRooms" class="form-control" />
                <span asp-validation-for="TenantApartment.NumberOfbathRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.RoomArea" class="control-label"></label>
                <input asp-for="TenantApartment.RoomArea" class="form-control" />
                <span asp-validation-for="TenantApartment.RoomArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.FloorNumber" class="control-label"></label>
                <input asp-for="TenantApartment.FloorNumber" class="form-control" />
                <span asp-validation-for="TenantApartment.FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositePrice" class="control-label"></label>
                <input asp-for="DepositePrice" class="form-control" />
                <span asp-validation-for="DepositePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantApartment.Type" class="control-label">
                    Select the apartment type
                </label>
                <select asp-for="TenantApartment.Type" class="form-control">
                    <option value="Studio">Studio</option>
                    <option value="Room">Room</option>
                    <option value="Apartment">Apartment</option>
                </select>
                <span asp-validation-for="TenantApartment.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    h2 {
        color: #cba40b;
        font-family: 'Trocchi', serif;
        font-size: 20px;
        font-weight: normal;
        margin-top: 50px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    h2 i{
        color: red;
    }
</style>