@model Logement.ViewModels.CityHomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/homeStyle.css" />

<div id="carrousel" class="swiper-container">
    <div class="slider">
        <img src="@Model.FirstImage" id="slideImg" />
    </div>
    <div class="overlay">
        <div class="content-title">
            <h1>COMFORT AT LOW PRICES NEAR YOU</h1>
            <h3>Easily create an account and start chatting with the different owners of the apartment</h3>
            <div>
                <button type="button">WATCH MORE</button>
                <button type="button" class="btn-2">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</div>
<div id="tranding">
    <div class="container">
        <h3 class="text-center section-subheading">- Apartments with the highest demand -</h3>
        <h1 class="text-center section-heading">Trending Apartments</h1>
    </div>
    <div class="container">
        <div class="image-grid">
            @foreach (var item in Model.Apartment)
            {
                <div class="card">
                    <img src="data:@item.ContentType;base64,@Convert.ToBase64String(item.Data)" alt="Trending" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">@item.LocatedAt</h2>
                        <div class="card-footer">
                            <a href="/Home/GetAllApartmentImages?apartmentId=@item.Id" class="see-more-button">See More</a>
                            <div class="rating">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="~/js/home.js"></script>
